/.vscode
/1-intro welcome
/10-oops
/11-pandas
/2-string data type
/3-list data type
/4-tuple data type
/5-dictionary data type
/6-set data type
/7-conditional if-else statement
/8-for loops
/9-while loops